---
title: "Connor McCurley"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.1"
  overlay_image: /photos/network_banner.png
  show_overlay_excerpt: true
  cta_label: "About"
  cta_url: "/aboutme/"
excerpt: "Ph.D. Candidate ECE, Machine Learning, University of Florida."
intro:  
- excerpt: 'Doctoral student researcher studying machine learning and remote sensing at the University of Florida.'
feature_row:
  - image_path: /photos/stock/books.jpg
    title: " "
    btn_label: "Publications"
    btn_class: "btn--primary"
    url: "/publications/"
  - image_path: /photos/stock/code.jpg
    title: " "
    btn_label: "Research"
    btn_class: "btn--primary"
    url: "/research/"
  - image_path: /photos/stock/resume.jpg
    title: " "
    btn_label: "Resume"
    btn_class: "btn--primary"
    url: "/documents/mccurley_cv.pdf"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
